:root {
  --current-text-color: #757575;
  --current-title-color: #212121;
  --current-white-color: #ffffff;
  --current-black-color: #000000;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --line-color: #ececec;
  --border-color: #eeeeee;
  --social-passive: #afb1b8;
  --social-passive-footer: rgba(255, 255, 255, 0.1);
  --card-text-bgc: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(0, 0, 0, 0.2);
  --overlay-card-color: rgba(33, 150, 243, 0.9);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);

  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}